[mysqld]
server_id=1
report_host=172.28.41.59
report_port=3316

gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
log_slave_updates=ON
log_bin=binlog
transaction_write_set_extraction=XXHASH64
binlog_transaction_dependency_tracking=WRITESET

loose-group_replication_group_name="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
loose-group_replication_start_on_boot=off
loose-group_replication_local_address="172.28.41.59:33161"
loose-group_replication_group_seeds="172.28.41.59:33161,172.28.41.59:33261,172.28.41.59:33361"
loose-group_replication_bootstrap_group=off
